/* LAPTOP */
@media (min-width: 1024px) {
    .section1{
        margin: auto;
        width: 50vw;
    }
}
/* HP */
@media (max-width: 425px) {
    .section1{
        margin: auto;
        width: 90vw;
    }
}