.homesec1{
    min-height: 90vh;
    background: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.homesec1-content{
    background-color: rgba(0, 0, 0, .4);
    height: 95vh;
}
.text-white{
    color: white;
}
.homesec1-choices{
    border-radius: 30px 0px 30px 0px;
    width: 40%;
    height: 9vh;
    /* background: linear-gradient(to right,#80D0C7, #0093E9); */
    background-color: #27ae60;
    transition: background-color .2s;
}
.homesec1-choices a{
    text-decoration: none;
    font-size: 100%;
    color: whitesmoke;
    transition: color .5s;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-style: italic;
    
}
.homesec1-choices a:hover{
    color:yellow;
}
.homesec1-choices:hover{
    background-color: #22864c;
    border: 1px solid yellow;
}
.homesec1-colchoices{
    padding-top: 10px;
    padding-bottom: 10px;
}
.homesec1-title{
    font-size: 4vw;
}
.homesec1-subtitle{
    font-size: 1.5vw;
    font-style: italic;
    color: #b2bec3;
}
@media (max-width: 425px) {
    .homesec1-logo{

    }
    .homesec1-title{
        font-size: 9vw;
    }
    .homesec1-subtitle{
        font-size: 4vw;
    }
    .homesec1-choices{
        width: 90%;
        height: 8vh;
        border-radius: 10px 0px 10px 0px;
    }
    .homesec1-choices a{
        font-size: 4vw;
    }
}
