@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: #EDEDEDED;
}
.navbar{
    box-shadow: 2px 2px 7px grey
}
.bg-default{
    background: linear-gradient(to right,#11998E,#1CF298);
}
.font-default{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
}
.PropContainer-PropMiddleLane{
    height: 100vh;
    background: linear-gradient(#18CE95,#00D0C4,#38C9D2,#22A6B3);
    width: 25%;
    left: 39%;
    position: absolute;
    z-index: -9999;
}
.PropContainer-PropinContainer{
    width: 98%;
    margin: auto;
}
.nav-link:hover{
    color: black;
}
.PropContainer-PropImg{
    display: block;
    margin: auto;
    margin-top: 3%;
    width: 80%;
    border-radius: 30px;
}
.title{
    position: absolute;
    z-index: 99;
    top: 15vh;
    left: 28%;
    text-align: center;
    font-size: 4.5vw;
    color: white;
    text-shadow: -1.5px 1vh 1px black;
}
.PropItemChoice{
    margin: auto;
    background: linear-gradient(to right,#667DB6,#0082C8,#0082C8,#667DB6);
    width: 70%;
    height: 15vh;
    border-radius: 50px 0px 50px 0px;
    border: 6px solid white;
}
.PropItemChoice:hover{
    background: linear-gradient(to right,#373B44,#4286f4);
}
.default-a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.PropItemMenu{
    width: 60%;
    height: 38vh;
    border: 6px solid white;
    border-radius: 20px;
    background: linear-gradient(#00B4DB,#0083B0);
    margin: auto;
}
.PropRow{
    top: 45vh;
    position: absolute;
}
.PropItemMenu-link{
    margin-top: 30%;
    text-align: left;
    font-size: 1.4vw;
}
