










.footer {
	background: linear-gradient(to right,#11998E,#1CF298);
	color: white;
    transition: color .4;
	padding-top: 40px;
	padding-bottom: 20px;
}
.footer h2.heading {
	font-size: 20px;
	padding-bottom: 6px;
	margin-bottom: 15px;
	border-bottom: 0.4px solid #e0e0e0;
}
.footer p,
.footer ul li,
.footer ul li a,
.footer .list-item .right {
    color: #eaeaea;
    text-decoration:none;
	font-weight: 400;
	font-size: 15px;
}
.footer input[type="submit"] {
	width: 100%;
	background: #e75542;
	border: 0;
	margin-top: 10px;
}
.footer .list-item {
	overflow: hidden;
	margin-bottom: 10px;
	font-weight: 400;
}
.footer .list-item .left {
	width: 30px;
	height: auto;
	float: left;
	padding-top: 2px;
}
.footer .list-item .left i {
	font-size: 20px;
}
.footer .list-item .right {
	width: calc(100% - 40px);
	height: auto;
	float: left;
}
.footer ul.social {
	padding: 0;
	margin-bottom: 25px;
	overflow: hidden;
}
.footer ul.social li {
	list-style-type: none;
	float: left;
    /* border:1px solid black; */
	margin-right: 6px;
	margin-bottom: 6px;
}
.footer ul.social li a {
	color: #222;
	background: #eaeaea;
	width: 30px;
	height: 30px;
	line-height: 30px;
    padding-top:5px;
	text-align: center;
	display: block;
}

.footer ul.social li a:hover {
    background: yellow;
    coloe: white;
}

.footer ul.useful-links {
	padding: 0;
}
.footer ul.useful-links li {
	list-style-type: none;
	margin-right: 6px;
	margin-bottom: 6px;
	position: relative;
	padding-left: 12px;
}
.footer ul.useful-links li:before {
	content: '\f105';
	font-family: 'FontAwesome';
	position: absolute;
	top: 0;
	left: 0;
}
.footer ul.useful-links li a {
	color: whitesmoke;
}
.footer ul.useful-links li a:hover {
	color: yellow;
}

/* Copyright */
.copyright {
	background: linear-gradient(to right,#11998E,#1CF298);
	color: #eaeaea;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 14px;
}

.btn-social-icon, .btn-social {
  border: none;
  border-radius: 3px; }

.btn-social-icon {
  color: #fff !important;
  padding-left: 18px;
  padding-right: 18px; }
  .btn-social-icon > :first-child {
    font-size: 16px; }

.btn-social {
  padding: 12px 12px 12px 50px;
  color: #fff !important;
  font-weight: 500; }
  .btn-social > :first-child {
    width: 55px;
    line-height: 50px;
    border-right: none; }




/* Page Top */
.page-top {
	background: #333;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
}
.page-top h2 {
	position: relative;
	z-index: 99;
	color: #fff;
	opacity: 1;
	text-align: center;
}
.page-top .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right,#11998E,#1CF298);
	color: #fff;
	z-index: 99;
}
.page-top .breadcrumb-container {
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
.page-top .breadcrumb {
	margin-bottom: 0;
}
@media (max-width: 991px) {
	.page-top {
		margin-top: 60px;
	}
}


