.homesec2{
    min-height: 90vh;
}
.carousel{
    min-height: 60vh;
}
.homesec2-profdescription{
    font-weight: 100;
    font-style: italic;
}
.font-nunito{
    font-family: 'Nunito',sans-serif;
}
.text-white{
    color: white;
}
.homesec2-title{
    color: white;
}
.homesec2-img{
    border-radius: 200px;
}
.homesec2{
    min-height: 100vh;
}
.homesec2-img{
    width: 15%;
}
.homesec2-title{
    color: black;
}
.homesec2-carind{
    position: relative;
}
@media (max-width: 425px) {
    .homesec2{
        min-height: 20vh;
    }
    .homesec2-profdescription{
        font-size: 14px;
        letter-spacing: .8px;
    }
    .homesec2-img{
        width: 40%;
    }
    .homesec2-profname{
        font-size: 5.3vw;
    }
    .homesec2-profjob{
        font-size: 4vw;
    }
    .homesec2-title{
        font-size: 6vw;
    }
    .homesec2-profname{}
}